<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-5 col-8 col-sm-4">
        <img class="logo-img center-img" src="<%= ENV['LOGO_URL'] || image_path('logo.png') %>">
      </div>
      <div class="row col-lg-9 col-md-12 col-sm-12 justify-content-center">
        <div class="col-8 col-md-4 col-sm-4">
          <ul>
            <h5>About Us</h5>
            <li><a href="#" target="_blank">Team</a></li>
            <li><a href="#" target="_blank">White Paper</a></li>
            <li><a href="#" target="_blank">KCS Blockchain Explorer</a></li>
            <li><a href="#" target="_blank">Buy KCS</a></li>
            <li><a href="#" target="_blank">Change Log</a></li>
          </ul>
        </div>
        <div class="col-8 col-md-4 col-sm-4">
          <ul>
            <h5>Trading & Regal</h5>
            <li><a href="#" target="_blank">API Documentation</a></li>
            <li><a href="#" target="_blank">Fees</a></li>
            <li><a href="#" target="_blank">Add new token</a></li>
            <li><a href="#" target="_blank">Terms of Use</a></li>
            <li><a href="#" target="_blank">Privacy Policy</a></li>
            <li><a href="#" target="_blank">AML&CFT</a></li>
          </ul>
        </div>
        <div class="col-8 col-md-4 col-sm-4">
          <ul>
            <h5>Contact Us</h5>
            <li><a href="#" target="_blank">Support : support@orbitex.com</a></li>
            <li><a href="#" target="_blank">Business : business@orbitex.com</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="sub-container orbit-reserved">
      &copy;2013-2018 Orbitex. All Rights Reserved.
    </div>
  </div>
</footer>
