<div class="sub-container">
  <h3>
    Main Navigation
  </h3>
  <ul class="nav-menu-list">
    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
    <li><a href="/funds"><i class="fa fa-money" aria-hidden="true"></i>Funds</a></li>
    <li><a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></li>
    <li><a href="/history/orders"><i class="fa fa-history" aria-hidden="true"></i>History</a></li>
    <li><a href="/trading/1"><i class="fa fa-exchange" aria-hidden="true"></i>Exchange</a></li>
  </ul>
</div>
